@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor01: black;
    --cor02: white;
}

html, body {
    min-width: 100vh;
    background-color: darkgray;
}

header {
    background-color: var(--cor01);
    color: var(--cor02);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: uppercase;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: #A27B5C;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: var(--cor02);
    color: var(--cor01);
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: var(--cor02);
}

.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}

footer {
    background-color: var(--cor01);
    color: var(--cor02);
    text-align: center;
    padding: 15px;
}